button{
    background-color: rgb(95, 11, 95);
    color: white;
    border-radius: 30px;
    border: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;

}
h1{
    font-size: 60px;
}
h6{
    font-size: 16px;
}
.btn-close{
    position: absolute;
    right: 4px;
}
.c{
    border: white;
}
#d1{
    border: white;
}
#b1{
    margin-right: 350px;
    border-radius: 10px;
}
#r1{
    background-color: rgb(108, 7, 133);
    width: 100%;
}
h3{
    color: rgb(85, 5, 122);
}
h5{
    color: rgb(140, 76, 177);
}
#b3{
    background-color: rgb(238, 231, 231);
    padding-top: 50px;
}
img{
    width: 100%;
}
span{
    color: blueviolet;
}
h4{
    color: rgb(85, 5, 122);
    padding-top: 40px;
}
a{
    color: rgb(79, 23, 131);
}
.b{
    border-radius: 2px;
}
.col-lg-4{
    border: rgb(238, 231, 231) 10px solid;
}
#l1{
    background-color: white;
    color: rgb(39, 7, 68);
    border: rgb(39, 7, 68) 3px;
    margin-left: 800px;

}